<div class="borde divcuerpo" id="experienciadiv">
    <div class="row g-0">
        <div class="bloque titulo">
            <div class="btns-agregar" style="display: none;">
                <button type="button" class="btn-agregar btn btn-light bi bi-plus-circle plus" data-bs-toggle="modal" data-bs-target="#agregarexp" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                    </svg>
                </button>
            </div>
            <h1 class="title">Experiencia Laboral</h1>
            <div id="agregarexp" class="modal fade">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body">
                            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                            <div class="myform bg-dark">
                                <h1 class="text-center">Agregar Contenido</h1>
                                <form [formGroup]="form" (ngSubmit)="addExp()" name="editarexp">
                                    <div class="mb-3 mt-3">
                                        <label for="text">Puesto</label>
                                        <input type="text" class="form-control" formControlName="titulo">
                                    </div>
                                    <div class="mb-3 mt-3">
                                        <label for="text">Descripcion</label>
                                        <input type="text" class="form-control" formControlName="descripcion">
                                    </div>
                                    <div class="mb-3 mt-3">
                                        <label for="text">Desde</label>
                                        <input type="number" class="form-control" maxlength="4" formControlName="desde">
                                    </div>
                                    <div class="mb-3 mt-3">
                                        <label for="text">Hasta</label>
                                        <input type="number" class="form-control" maxlength="4" formControlName="hasta">
                                    </div>
                                    <p id="confirmadoexp"></p>
                                    <button type="submit" class="btn btn-light mt-3" >Agregar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-11">
            <div *ngFor="let exp of experiencia; trackBy:trackById">
                <ul>
                    <li>
                        <div class="btns" style="display: none;">
                            <button type="button" class="btn-editar btn btn-primary pencil" data-bs-toggle="modal" data-bs-target="#modificar" (click)="editar(exp)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                </svg>
                            </button>
                            <button type="button" class="btn-editar btn btn-primary bin" (click)="expEliminar(exp)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                                </svg>
                            </button>
                        </div>
                        <!-- <span style="display: none">{{exp.id}}</span> -->
                        <h1 class="trabajo">{{exp.titulo}}</h1> - <h3 class="years">{{exp.desde}}-{{exp.hasta}}</h3>
                    </li>
                    <p>{{exp.descripcion}}</p>
                </ul>
            </div>
        </div>

        <div id="modificar" class="modal fade">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                        <div class="myform bg-dark">
                            <h1 class="text-center">Modificar Contenido</h1>
                            <form (ngSubmit)="expEditar()" >
                                <div class="mb-3 mt-3">
                                    <label for="text">Puesto</label>
                                    <input type="text" class="form-control" [(ngModel)]="editarExp.titulo" name="titulo">
                                </div>
                                <div class="mb-3 mt-3">
                                    <label for="text">Descripcion</label>
                                    <input type="text" class="form-control" [(ngModel)]="editarExp.descripcion" name="descripcion">
                                </div>
                                <div class="mb-3 mt-3">
                                    <label for="text">Desde</label>
                                    <input type="number" class="form-control" [(ngModel)]="editarExp.desde" name="desde">
                                </div>
                                <div class="mb-3 mt-3">
                                    <label for="text">Hasta</label>
                                    <input type="number" class="form-control" [(ngModel)]="editarExp.hasta" name="hasta">
                                </div>
                                <p id="confirmacionexp"></p>
                                <button type="submit" class="btn btn-light mt-3">Guardar Cambios</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
