<div>
    <a href=""><img class="social" src="../../../assets/facebook.png" alt=""></a>
    <a href=""><img class="social" src="../../../assets/github.png " alt=""></a>
    <a href=""><img class="social" src="../../../assets/instagram.png" alt=""></a>
    <a href=""><img class="social" src="../../../assets/linkedin.png" alt=""></a>
    <a href=""><img class="social" src="../../../assets/twitter.png" alt=""></a>
    <button type="button" class="btn btn-outline-light">Iniciar Sesion</button>
</div>
