<div>
    <div>
        <div>
            <div class="btns" style="display: none;">
                    <button type="button" class="btn btn-primary pencil" data-bs-toggle="modal" data-bs-target="#modificarpersbanner">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                        </svg>
                    </button>
                </div>
        </div>
            <img src="" alt="" id="banner">
        </div>

        <div id="modificarpersbanner" class="modal fade">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                        <div class="myform bg-dark">
                            <h1 class="text-center">Modificar Contenido</h1>
                            <form (ngSubmit)="enviarBanner()">
                                <div class="mb-3 mt-3">
                                    <label for="banner" class="form-label">Nuevo Banner</label>
                                    <input type="file" id="banner" class="form-control" name="bannerfile" accept="image/*" (change)="cargarBanner($event)">
                                </div>
                                <p id="confirmacionpersbanner"></p>
                                <button type="submit" class="btn btn-light mt-3">Guardar Cambios</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>